# This is not a real Debian control file, though the syntax is compatible.
# It's project metadata for the shipper tool

Package: tetrix

Description: A UNIX-hosted, curses-based clone of Tetris.
 Probably obsolete unless you can't use X for some reason, but of some
 historical interest.

#XBS-Destinations: freshcode

Homepage: http://www.catb.org/~esr/tetrix

XBS-HTML-Target: index.html

XBS-Repository-URL: https://gitlab.com/esr/tetrix

XBS-VC-Tag-Template: %(version)s

